/* layout stuff
{{{*/
* {
box-sizing: border-box;
}

.column {
    float:left;
    padding:15px;
}

/* Left and right column */
.column.side {
    width: 1%;
}

/* Middle column */
.column.middle {
    width: 80%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
    .column.side, .column.middle {
        width: 100%;
    }
}

.topnav {
    overflow: hidden;
    background-color: #333333;
}

.topnav a {
    float: left;
    color: white;
    padding: 14px 20px;
    display: block;
    text-decoration: none;
}

.topnav a.active {
    background-color: navy;
}

.topnav a:hover:not(.active) {
    background-color: black;
}

/* }}} */

body {
    margin: 0;
    background-color: #eeeeee;
}

label {
    font-weight: bold;
    float: left;
}

.button {
    background-color: #333333;
    border: none;
    color: white;
    padding: 16px 18px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 10px;
    margin: 10px 1px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.button:hover {
    color: black;
    background-color: #b3b3b3;
}

table {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

table td, table th {
    border: 2px solid #111111;
    padding: 8px;
}

table tr:nth-child(even){background-color: #ffffff;}

table tr:hover {background-color: orange;}

table td {
    padding-top: 16px;
    padding-bottom: 16px;
    text-align: left;
}

table a {
    float: left;
    color: black;
    display: block;
    text-decoration: none;
}

table a:hover:not(.active) {
    color: red;
}

table th {
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: left;
    background-color: navy;
    color: white;
}

input[type=text],input[type=password]  {
    margin: 0px 16px;
    box-sizing: border-box;
}

input[type=password]:focus {
    background-color: lightblue;
}

input[type=text]:focus {
    background-color: lightblue;
}
