body {
    background-color: silver;
}

label {
    font-weight: bold;
    float: left;
}

table, th, td {
    border: 1px solid black;
}

/* layout stuff
{{{*/
* {
    box-sizing:border-box;
}

.header, .footer{
    background-color: grey;
    color: black;
    padding: 15px;
    text-align: center;
}

.column{
    float:left;
    padding:15px;
}

.clearfix::after{
    content:"";
    clear:both;
    display:table;
}

.menu{
    width:25%;
    height:100%;
}

.content{
    background-color:MediumSeaGreen;
    padding: 3em;
    width:75%;
}

.menu ul{
    list-style-type:none;
    margin:0;
    padding:0;
}

.menu li{
    padding:8px;
    margin-bottom:8px;
    background-color:#00cc44;
    color:#ffffff;
}

.menu li:hover{
    background-color: #00802b;
}

.menu li a {
    color: white;
    text-decoration:none;
}

.menu li a:hover {
    color: orange;
}
/* }}} */
